<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{plantilla/template :: head}">
<meta charset="UTF-8">
<title>Nuevo Usuario</title>
</head>

<body>
<div class="container">
	<div class="row mt-5">
		<div class="col-6 mx-auto">
		    <h1>Gestion de Usuarios</h1>
		    
		     <form role= "form" th:action="@{/new_usuario}" th:object="${usuario}" method="POST">
		    	<h2>Nuevo Usuario</h2>
				<hr>
					<div th:if="${param.error}">
						<div class="alert alert-danger">Hubo un error al registrar -
							Intente nuevamente</div>
					</div>
					<div th:if="${param.success}">
						<div class="alert alert-info">Registro Exitoso!!!</div>
					</div>
	   			<br>
		    <div class="mb-3">
						<label class="form-label" for="mail">Correo</label> <input
							class="form-control" id="mail" name="mail" type="email">
						<p class="text-danger" th:errors="*{mail}"
							th:if="${#fields.hasErrors('mail')}"></p>
					</div>

					<div class="mb-3">
						<label class="col-sm-2 col-form-label" for="password">Contraseña</label>
						<input class="form-control" id="password" name="password"
							type="password">
						<p class="text-danger" th:errors="*{password}"
							th:if="${#fields.hasErrors('password')}"></p>
					</div>
					<br> 


					<div class="mb-3">
						<label class="form-label" for="nombres">Nombres</label> <input
							class="form-control" id="nombres" name="nombres" type="text">
						<p class="text-danger" th:errors="*{nombres}"
							th:if="${#fields.hasErrors('nombres')}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="apellidos">Apellidos</label> <input
							class="form-control" id="apellidos" name="apellidos" type="text">
						<p class="text-danger" th:errors="*{apellidos}"
							th:if="${#fields.hasErrors('apellidos')}"></p>
					</div>

					<div class="mb-3">
						<label class="form-label" for="dni">DNI</label> <input
							class="form-control" id="dni" name="dni" type="text">
						<p class="text-danger" th:errors="*{dni}"
							th:if="${#fields.hasErrors('dni')}"></p>
					</div>


					<div class="mb-3">
						<label class="form-label" for="direccion">Direccion</label> <input
							class="form-control" id="direccion" name="direccion" type="text">
						<p class="text-danger" th:errors="*{direccion}"
							th:if="${#fields.hasErrors('direccion')}"></p>
					</div>
				<br>
		    	<button class="btn btn-primary col-2" type="submit">Registrar</button>    
		    </form>
		    <hr>
	   	</div>
	 </div>
</div>
<br>
<footer th:replace= "~{plantilla/template :: footer}"></footer>
</body>

</html>