<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<title>Nuevo Usuario</title>
</head>

<body>
<div class="container">
    <h1>Administracion de Usuarios</h1>
    <hr>
    <h2>Nuevo Usuario</h2>

    <form action=# th:action="@{/index}" th:object="${newUsuario}" method="POST">
    
    	<label class="form-label" for="nombres">Nombres</label>
        <input type="text" th:field="*{nombres}" placeholder="Nombres" class="form-control mb-4 col-4">

    	<label class="form-label" for="apellidos">Apellidos</label>
        <input type="text" th:field="*{apellidos}" placeholder="Apellidos" class="form-control mb-4 col-4">

    	<label class="form-label" for="dni">DNI</label>
        <input type="text" th:field="*{dni}" placeholder="DNI" class="form-control mb-4 col-4">

    	<label class="form-label" for="password">Nombres</label>
        <input type="password" th:field="*{password}" placeholder="Contraseña" class="form-control mb-4 col-4">
        
        <label class="form-label" for="direccion">Direccion</label>
        <input type="text" th:field="*{direccion}" placeholder="Direccion" class="form-control mb-4 col-4">
        
        <label class="form-label" for="mail">Correo</label>
        <input type="email" th:field="*{mail}" placeholder="Correo" class="form-control mb-4 col-4">
	
        <button type="submit" class="btn btn-info col-2"> Guardar Usuario</button>
    </form>

    <hr>

    <a th:href="@{/index}"> Regresar a Listado de Usuarios</a>
</div>
</body>

</html>